@import "vars";

div.dark-bar {
  display: none;
}

.logo {
  background-image: url(../images/shanghai_park_logo.png);
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  position: absolute;
  border: none;
}
nav {
  border-bottom: red 2px solid;
  div.navs {
    button {
      border: none;
      height: 100%;
      background-color: transparent;
      color: $shanghai-gray;
      transition-property: color, background-color;
      transition-duration: .2s;
      transition-timing-function: ease;
      &.active {
        background-color: $shanghai-green;
        color: $shanghai-white;
        font-weight: bold;
      }
      &:hover {
        background-color: $shanghai-green-dark;
        color: $shanghai-white;
      }
    }
  }
}


@media only screen and (min-width: 768px) {
  div.dark-bar {
    display: flex;
    justify-content: flex-end;
  
    height: 30px;
    background-color: $shanghai-gray;
    color: $shanghai-white;
    line-height: 30px;
  }
  nav {
    .logo-before {
      content: ' ';
      display: block;
      position: absolute;
      background-color: $shanghai-white;
      width: 180px;
      height: 80px;
      top: 0;
      transform: skew(-15deg) translateX(-15px);
    }
    .logo {
      top: 0px;
      height: 80px;
    }
    height: 50px;
    div.navs {
      width: $padding - 170px;
      float: right;
      height: 50px;
      button {
        height: 40px;
        margin: 5px 0;
      }  
    }
  }
}
