@import "reset";

@import "vars";
@import "nav";
@import "header";
@import "main";

@font-face {
  font-family: arial-narrow;
  src: url("../fonts/arial-narrow.ttf");
}

@font-face {
  font-family: clearlight;
  src: url("../fonts/clearlight.ttf");
}

.hide {
  display: none;
}
.dark {
  background-color: $shanghai-gray;
  color: $shanghai-white;
}
.highlighted {
  color: $shanghai-green;
}
.right {
  text-align: right;
}

:root {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeLegibility;
  margin: 0;
  width: 100%;

  background-color: $shanghai-white;
  font-family: arial-narrow, sans-serif;

  overflow-x: hidden;
}

@media only screen and (min-width: 768px) {
  .pushed-in {
    width: 100%;
    padding-left: calc(50% - #{$padding / 2});
    padding-right: calc(50% - #{$padding / 2});
  }
}