html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div.dark-bar {
  display: none;
}

nav {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  background-color: #ffffff;
  z-index: 100;
}

nav .logo {
  height: 40px;
  margin: 15px;
}

nav #hamburger {
  float: right;
  height: 40px;
  width: 60px;
  border: 2px solid #eeeeee;
  border-radius: 5px;
  background-color: transparent;
  margin: 15px;
  opacity: 60%;
}

nav #hamburger:focus {
  outline: 1px solid #74d7ff;
}

nav #hamburger i {
  font-size: 25px;
  color: #333333;
}

nav div#navs {
  position: absolute;
  width: calc(100vw - 30px);
  top: 55px;
  left: 15px;
  background-color: #FFFFFF88;
  z-index: 2;
}

nav div#navs button {
  width: 100%;
  height: 40px;
  border: none;
  background-color: transparent;
  color: #333333;
  line-height: 40px;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  text-align: left;
}

nav div#navs button.active {
  background-color: #5dd782;
  color: #ffffff;
  -webkit-text-stroke: thin;
}

nav div#navs button:hover {
  background-color: #49b56a;
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  div.dark-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 30px;
    background-color: #333333;
    color: #ffffff;
    line-height: 30px;
  }
  nav {
    position: static;
    height: 50px;
  }
  nav .logo-before {
    content: ' ';
    display: block;
    position: absolute;
    background-color: #ffffff;
    width: 180px;
    height: 80px;
    top: 0;
    -webkit-transform: skew(-15deg) translateX(-15px);
            transform: skew(-15deg) translateX(-15px);
  }
  nav .logo {
    position: absolute;
    top: 0px;
    height: 80px;
    margin: 0px;
  }
  nav div#navs {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    float: right;
    width: 854px;
    height: 50px;
  }
  nav div#navs button {
    margin: 5px 5px 5px 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  nav #hamburger {
    display: none;
  }
}

header {
  position: relative;
  width: 100%;
  height: 25vw;
  background-image: url(../images/shanghai_park_main.png);
  background-position: 50% 0;
  background-size: 120% auto;
  margin-top: 95px;
}

header .overlay {
  position: absolute;
  top: 4vw;
  right: 15vw;
  background-color: #00000088;
  text-align: center;
  font-family: clearlight;
  color: #ffffff;
  width: 100px;
  height: 50px;
  font-size: 25px;
  line-height: 50px;
}

@media only screen and (min-width: 768px) {
  header {
    margin-top: 10px;
    height: 31vw;
  }
  header .overlay {
    top: 30px;
    right: calc(50vw - 387px);
    width: 260px;
    height: 110px;
    line-height: 110px;
    font-size: 70px;
  }
}

main section h2 {
  color: #5dd782;
}

main section img {
  border-radius: 3px;
}

@font-face {
  font-family: arial-narrow;
  src: url("../fonts/arial-narrow.ttf");
}

@font-face {
  font-family: clearlight;
  src: url("../fonts/clearlight.ttf");
}

.hide {
  display: none;
}

:root {
  scroll-behavior: smooth;
}

body {
  min-height: 2000px;
  text-rendering: optimizeLegibility;
  margin: 0;
  width: 100%;
  background-color: #ffffff;
  font-family: arial-narrow, sans-serif;
  overflow-x: hidden;
}

@media only screen and (min-width: 768px) {
  .pushed-in {
    width: 100%;
    padding: 0 calc(50% - 512px);
  }
}
/*# sourceMappingURL=style.css.map */